LLM_DEFAULT_MODEL=deepseek-ai/DeepSeek-V3.1-Terminus
AUDIO_FISH_API_KEY=your_audio_fish_api_key
BACKOFF_MAX_TRIES=5
BACKOFF_MAX_TIME=300
MAX_RETRY=3
PICTURE_WIDTH=550
PICTURE_HEIGHT=550
PICTURE_X=-100
PICTURE_Y=-1
FONT_PATH=assets/microhei.ttc


# token you need to set
SILICONFLOW_API_TOKEN=your_silicon_flow_api_token
PROJECT_NAME=project_name_for_debug




